# Dependencias
node_modules/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Entornos virtuales
venv/
.venv/
env/

# Archivos de build
dist/
build/
*.egg-info/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Archivos temporales
*.tmp
*.swp
*.swo
